.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 1em 2em;
    font-family:arial,sans-serif;
    color: #E0E2E2;
}

.clock .time {
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
}

.clock .date {
    font-size: 14px;
    color:#E0E2E2;
    margin-top: 4px;
}
